/* 
  Color pallete for web application
*/
$mountain-pink: #9e788f;
$powder-blue: #a9b3ce;
$tiffany-blue: #7cdedc;
$glaucous: #7284a8;
$charcoal: #474954;

:root {
	font-family: "Inconsolata";
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

// GLOBAL STYLE TO CENTER CONTAINER
.background-fit {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: $powder-blue;
}
// GLOBAL STYLE TO CREATE SHAPE OF DISPLAYING CONTENT
.app-border {
	width: 30%;
	height: 95%;
	border: 3px solid $mountain-pink;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
// STYLE FOR OVERFLOW CONTENT ON Y AXIS
.y-overflow {
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
// STYLE FOR START PAGE
.startWrapper {
	width: 50%;
	height: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 40px;
	img {
		width: 43%;
		height: 85%;
	}
	.startInfo {
		display: flex;
		flex-direction: column;
		gap: 15px;
		width: 40%;
		color: $charcoal;
		.title {
			font-size: 52px;
			font-weight: 600;
			margin-bottom: 20px;
		}
		.message {
			font-size: 20px;
			font-weight: 500;
			line-height: 30px;
		}
		.options {
			display: flex;
			flex-direction: row;
			gap: 10%;
			margin-top: 20px;
			button {
				min-width: 130px;
				min-height: 30px;
				padding: 10px;
				border: none;
				border-radius: 5px;
				background-color: $glaucous;
				color: white;
				font-size: 14px;
				font-weight: 500;
				cursor: pointer;

				&:hover {
					background-color: #91a7d3;
				}
			}
		}
	}
}
// FORM STYLES FOR LOGIN AND REGISTER PAGES
.formContainer {
	.formWrapper {
		border: 2px solid $mountain-pink;
		padding: 40px 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
		background-color: white;
		border-radius: 5px;

		.logo {
			font-size: 3rem;
			font-weight: bold;
			color: $charcoal;
		}

		.appDesc {
			max-width: 230px;
			text-align: center;
			font-size: 16px;
			color: $charcoal;
			font-weight: 600;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 15px;

			input {
				min-width: 225px;
				padding: 5px 10px;
				min-height: 25px;
				border: none;
				border-bottom: 1px solid $glaucous;
				font-size: 12px;

				&::placeholder {
					color: $charcoal;
				}
			}

			.disclosure {
				max-width: 230px;
				text-align: center;
				font-size: 12px;
				color: $charcoal;
				font-weight: 500;
				margin: 10px 0px;
			}

			button {
				min-height: 30px;
				padding: 10px;
				font-size: 16px;
				background-color: $glaucous;
				border: none;
				border-radius: 10px;
				color: white;
				cursor: pointer;
				margin-top: 20px;
			}
			.error {
				color: crimson;
				font-size: 14px;
				text-align: center;
			}
		}
		a {
			color: blue;
		}
	}
}

// NAVBAR COMPONENT
.navbarContainer {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	height: 30px;
	background-color: $glaucous;
	border-bottom: 2px solid $mountain-pink;

	.logoContainer {
		display: flex;
		gap: 10px;
		align-items: center;
		color: white;
		font-size: 40px;
		img {
			width: 44px;
		}
	}

	.userContainer {
		display: flex;
		gap: 10px;
		align-items: center;
		color: white;
		font-size: 24px;
		img {
			width: 42px;
			border: 1px solid $mountain-pink;
			border-radius: 50%;
			background-color: azure;
		}
	}

	.userName {
		color: white;
		display: flex;
		align-items: center;
		font-size: 28px;
		font-weight: 500;
	}

	.profileMenu {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 25px;
		img {
			width: 26px;
			cursor: pointer;
		}
	}
}

// PAGE: HOMEPAGE
.page {
	.container {
		.displayContainer {
			background-color: $glaucous;
			height: calc(100% - 140px);
			overflow-y: scroll;
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */

			.cardContainer {
				display: flex;
				flex-direction: column;
				padding: 0px 20px 20px 20px;
				margin: 30px 0px;
				border-bottom: 3px solid $mountain-pink;
				border-radius: 5px;

				.userWrapper {
					display: flex;
					gap: 10px;
					align-items: center;
					height: 50px;
					margin-bottom: 10px;

					img {
						width: 42px;
						height: 42px;
						border: 1px solid $mountain-pink;
						border-radius: 50%;
						background-color: azure;
					}

					.info {
						display: flex;
						flex-direction: column;
						font-size: 18px;
						font-weight: 600;
						cursor: pointer;
						.location {
							font-weight: 500;
							font-size: 16px;
						}
					}
				}

				.cardWrapper {
					display: flex;
					flex-direction: column;
					img {
						border-radius: 10px;
						height: 350px;
					}
				}

				.reactions {
					padding: 10px 5px;
					display: flex;
					justify-content: space-between;
					img {
						cursor: pointer;
					}
				}

				.likes {
					padding: 10px 10px;
					font-size: 18px;
					font-weight: 500;
				}
				.comment {
					padding: 0px 10px;
					gap: 10px;
					align-items: center;
					font-size: 18px;

					span {
						font-weight: 500;
						overflow-wrap: break-word;
					}
				}
			}

			.searchContainer {
				background-color: $glaucous;
				display: flex;
				flex-direction: column;
				gap: 5px;

				.searchBar {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;
					padding: 5px 10px 0px 5px;
					input {
						width: 97%;
						height: 35px;
						padding: 0px 5px 0px 10px;
						border: none;
						background-color: $powder-blue;
						border-radius: 10px;
						outline: none;
						color: white;
						font-size: 14px;
						font-weight: 500;
						&::placeholder {
							color: azure;
						}
					}
					span {
						font-weight: 600;
						font-size: 18px;
						color: $charcoal;
						cursor: pointer;
						&:hover {
							color: white;
						}
					}
				}
				.searchContent {
					padding-left: 20px;
					font-size: 16px;
					font-weight: 500;
					color: $charcoal;
				}
				.searchResults {
					background-color: $glaucous;
					padding: 10px 10px 0px 10px;
					overflow-y: scroll;
					-ms-overflow-style: none; /* IE and Edge */
					scrollbar-width: none; /* Firefox */

					.resultCard {
						background-color: $powder-blue;
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: 20px;
						border: 3px solid $mountain-pink;
						border-radius: 10px;
						padding: 5px;
						margin-bottom: 5px;
						cursor: pointer;
						img {
							width: 72px;
							height: 72px;
							border-radius: 50%;
							border: 2px solid $mountain-pink;
						}
						span {
							color: $charcoal;
							font-size: 22px;
						}
					}
				}
				.searchResults::-webkit-scrollbar {
					display: none;
				}
				.explore {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.explore-posts {
						margin-top: 10px;
						display: grid;
						grid-template-columns: repeat(3, 1fr);
						img {
							width: 99%;
							height: 150px;
							border: 1px solid $mountain-pink;
							cursor: pointer;
						}
					}
					.showMore {
						color:#7cdedc;
						font-size: 18px;
						text-align: center;
						margin-top: 20px;
						cursor: pointer;
					}
				}
			}
		}
		.displayContainer::-webkit-scrollbar {
			display: none; /* hide scroll bar */
		}
	}
}

// PAGE: PROFILE
.profileContainer {
	padding: 0px 40px 0px 40px;
	.profile {
		.profileInfo {
			display: flex;
			padding: 10px 0px 10px 0px;
			img {
				width: 140px;
				height: 140px;
				border-radius: 50%;
				border: 3px solid $mountain-pink;
				flex: 1;
			}

			.profileData {
				flex: 2;
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;

				.data {
					display: flex;
					flex-direction: column;
					gap: 10px;
					text-align: center;
					font-size: 18px;
					font-weight: 700;
				}
			}
		}
		label {
			img {
				max-width: 32px;
				height: 32px;
				background-color: $powder-blue;
				padding: 5px;
				border-radius: 10px;
				cursor: pointer;
			}
		}
		button {
			width: 100%;
			height: 30px;
			background-color: $powder-blue;
			outline: none;
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 14px;
			font-weight: 600;
			cursor: pointer;
			&:hover {
				background-color: #a9b9CF;
			}
		}

		.profileBio {
			display: flex;
			flex-direction: column;
			gap: 5px;
			span {
				font-size: 16px;
				font-weight: 600;
				word-break: normal;
			}
			.description {
				font-weight: 500;
			}
		}
		.feed {
			.icons {
				display: flex;
				//justify-content: space-evenly;
				img {
					background-color: $glaucous;
					width: 32px;
					text-align: center;
					cursor: pointer;
				}
				.feed {
					width: 50%;
					text-align: center;
					padding: 5px 0px 5px 0px;
				}
				.saved {
					width: 50%;
					text-align: center;
					padding: 5px 0px 5px 0px;
				}
			}
			.userPosts {
				margin-top: 10px;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				img {
					width: 99%;
					height: 130px;
					border: 1px solid $mountain-pink;
					cursor: pointer;
				}
			}
		}
	}
}

// PAGE: EDIT PROFILE
.editProfileContainer {
	background-color: $glaucous;
	height: 100vh;
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 15px 20px 0px 20px;
		span {
			font-size: 24px;
			font-weight: 700;
		}
	}
	.profilePic {
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;
		img {
			width: 200px;
			height: 200px;
			border-radius: 50%;
			border: 3px solid $mountain-pink;
		}
		span {
			font-size: 18px;
			font-weight: 500;
			color: blue;
			cursor: pointer;
		}
	}
	.formContainer {
		display: flex;
		flex-direction: column;
		gap: 20px;
		form {
			display: flex;
			flex-direction: column;
			gap: 25px;
			padding: 0px 80px 0px 40px;
			label {
				display: flex;
				align-items: start;
				font-size: 16px;

				span {
					flex: 1;
					padding: 5px;
					font-weight: 600;
				}

				input {
					flex: 3;
					border: none;
					border-bottom: 2px solid $powder-blue;
					background-color: $glaucous;
					padding: 5px;
					outline: none;
					color: white;
				}

				textarea {
					flex: 3;
					height: 100%;
					width: 100%;
					-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
					-moz-box-sizing: border-box; /* Firefox, other Gecko */
					box-sizing: border-box; /* Opera/IE 8+ */
					background-color: $glaucous;
					padding: 5px;
					outline: none;
					color: white;
					border: 2px solid $powder-blue;
				}
			}
		}
		.update-error {
			color: maroon;
			font-size: 24px;
			font-weight: 500;
			text-align: center;
		}
	}
}

.negative {
	color: maroon;
	cursor: pointer;
}

.positive {
	color: rgb(23, 96, 23);
	cursor: pointer;
}

.line-break {
	border: 1px solid $mountain-pink;
	height: 0px;
}

// PAGE: CREATE POST
.createPost {
	background-color: $glaucous;
	height: calc(100% - 140px);
	padding: 5px 40px 10px 40px;

	.createOptions {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-weight: 800;
		font-size: 22px;
		padding: 0px 0px 15px 0px;
		.negative {
			color: maroon;
		}
		.positive {
			color: rgb(23, 96, 23);
		}
		span {
			cursor: pointer;
		}
	}
	.createImage {
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 10px;
		img {
			width: 100%;
			min-width: 150px;
			height: 350px;
			background-color: azure;
			border-radius: 10px;
		}
		label {
			justify-content: center;
			width: 100%;
			height: 25px;
			text-align: center;
			border: none;
			border-radius: 5px;
			background-color: $tiffany-blue;
			color: white;
			font-size: 20px;
			font-weight: 700;
			cursor: pointer;
		}
	}
	.createCaption {
		fieldset {
			border-color: $tiffany-blue;
		}
		legend {
			font-size: 18px;
			font-weight: 600;
			color: white;
		}
		textarea {
			height: 100%;
			width: 100%;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
			outline: none;
			border: none;
			border-radius: 5px;
			padding: 10px;
			color: $charcoal;
			font-size: 16px;
			font-weight: 500;
		}
	}
	span {
		font-size: 22px;
		font-weight: 600;
		color: white;
		margin-top: 10px;
	}
	.createRecents {
		display: grid;
		margin-top: 10px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		img {
			width: 99%;
			height: 135px;
			border: 1px solid $mountain-pink;
			cursor: pointer;
		}
	}
}

.createPost::-webkit-scrollbar {
	display: none;
}
// MENU COMPONENT STYLING
.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: $mountain-pink;
	height: 70px;
	align-items: center;
	input {
		display: none;
	}

	label {
		cursor: pointer;
		img {
			width: 36px;
		}
	}
}

// POST VIEW: NAVBAR
.nav {
	padding: 20px;
	height: 30px;
	background-color: $glaucous;
	border-bottom: 2px solid $mountain-pink;
	display: flex;
	align-items: center;
	// justify-content: space-evenly;
	column-gap: 38%;
	img {
		width: 32px;
		cursor: pointer;
		justify-self: start;
	}
	.title {
		display: flex;
		flex-direction: column;
		font-size: 18px;
		text-align: center;
		color: white;
		.user-name {
			font-weight: 500;
		}
		.post {
			font-weight: 700;
		}
	}
}
